*{
     font-family:'poppins';
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     transition: 0.6s;
}
.container{
     min-height: 100vh;
     width: 100%;
     background-image: url("Gradient Background Color.jpg");
     background-position: top;
     background-repeat:  no-repeat;
     background-size: cover;
     display:  flex;
     align-items: center;
     justify-content: center;
     gap: 20px;
}
.box{
     height: 500px;
     width: 400px;
     background-color: rgba(255,255,255,0.1);
     border:  1px solid #fff;
     border-radius:  12px;
     backdrop-filter: blur(5px);
     overflow: hidden;
}
.details{
     height: 100%;
     width:  100%;
     display:  flex;
     align-items:  center;
     justify-content: flex-start;
     flex-direction: column;
     gap: 20px;
     padding: 4%;
}
.lgnbox{
     padding: 4%;
}
.box-wrapper{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 8px; 
}
input{
     height: 40px;
     width:100%;
     border: none;
     outline: none;
     background-color: #fff;
     padding: 0 8px;
     border-radius:  5px;
}
  /* label{
     position: absolute;
     top: -20px;
     left: 0;
     color: rgba(0,0,0,0.8);
     opacity: 0;
  } */
  button{
     height: 50px;
     width: 100%;
     border: none;
     background-color: #5254ca;
     font-size: 1.3rem;
     color: #fff;
     font-weight: 600;
     letter-spacing: 1px;
     border: 8px;
  }
  h2{
     color:#fff;
     font-size: 2.7rem;
  }
  p{
     font-weight: 500;
  }
  p, p a{
     color: #fff;
     letter-spacing: 0.12;
  }
  p a{
     color: rgba(6,6,198,0.8);
     font-weight: 800;
     margin: 8px;
     text-decoration: none;
  }
 .dtlogin{
     position:absolute;
     top: 0;
     right: 0;
     padding: 12% 15%;
 }
 .dtsignup{
     position: absolute;
     top: 0;
     right: -100%;
     padding: 12% 15%;
 }
 .callreg{
     right: 100%;
 }
 .setreg{
     right: 0;
 }
 @media (max-width:500px){
     .box{
          width: 330px;
     }
     .dtlogin{
          padding: 16% 8%;
     }
     .dtsignup{
          padding: 18% 10%;
     }
 }